body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2em;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

#header {
    text-align: center;
    background-color: rgb(0, 81, 23);
    z-index: 100;
    color: white;
}

#foobar { display: none }

.legend {
    position: absolute;
    width: 18em;
    right: 2em;
    top: 12em;
    z-index: 100;
}

button {
	background-color: #44c767;
	border: 2px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 10px 15px;
	text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-right: 1em;
    margin-top: 2em;
}

.active {
    background-color:#5cc727;
    border-bottom: 0em;
    padding-bottom: 12px;
}

button:hover {
    background-color:#5cc727;
}

.bird {
    position: absolute;
    top: 1.5em;
    left: 10em;
    width: 7em;
    animation: float 4s ease-in-out infinite;
}

.tinyimg {
    position: absolute;
    top: 1.5em;
    right: 10em;
    height: 7em;
    z-index: 50;
}

.car {
    position: absolute;
    top: 2.5em;
    height: 5.5em;
    z-index: 50;
}

.sounds {
    position: absolute;
    height: 5.5em;
    right: 6em;
    top: 2em;
    animation: up-and-down 1500ms alternate infinite ease-in;
}

.dog {
    position: absolute;
    top: 2.5em;
    right: 10em;
    height: 6.5em;
    z-index: 50;
}

.tail {
    position: absolute;
    top: 1.9em;
    right: 8.7em;
    height: 2.5em;
    animation: dog-tail 2s infinite;
}

.doghead {
    position: absolute;
    height: 3.5em;
    right: 13.6em;
    z-index: 200;
    top: 0.9em;
    animation: dog-head 3000ms infinite;
}

#carsound {
    right: 11em;
}

#windmills {
    height: 4em;
    top: 5em;
}

#draaien1 {
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute; 
    height: 5em;
    right: 7.95em;
    top: 2.3em;
    z-index: 300;
}

#draaien2 {
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;  
    height: 5em;
    right: 10.9em;
    top: 2.6em;
    z-index: 300;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes float {
	0% {
		transform: translatey(10px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(10px);
	}
}

@keyframes dog-tail {
    0% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes dog-head {
    0% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

@keyframes up-and-down {
    0%   {transform: scale(.8);}
    100% {transform: scale(1.3);}
  }